* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

#boardContainer {
    max-width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

#playerDisplay {
    display: flex;
}

.bold {
    font-weight: bold;
}

p {
    margin: 10px;
}

#resultsDisplay {
    margin-bottom: 10px;
    font-weight: bold;
}


